$orange: #FF9F1C;
$light-orange: #FFBF69;
$white: #FFFFFF;
$teal: #2EC4B6;
$light-teal: #CBF3F0;

@font-face{
  font-family: 'coco-sharp';
  src: url('./Assets/cocosharp/Coco-Sharp-Regular-trial.ttf');
  font-weight: 600;
  font-style: normal;
}

*{
  font-family: 'coco-sharp';
}


#nav {
  margin: 0;
  background-color: $orange;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid black;
}
.nav-item{
  background-color: $orange;
  padding: 20px;
  margin: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  // font-weight: bold;
  // font-family: 'coco-sharp';

  border: 1px solid black;
  border-radius: 10px;
  &:hover{
    // padding: 22px;
    background-color: $light-orange;
  }
}

.container{

  // border: 1px solid black;
  display:flex; 
  flex-direction: column;
  align-items: center;
  // min-height: 1000px;
  // justify-content: center;
  .content{
    border: 1px solid black;
    width: 60%;
    min-height: 100px;
  }
  img{
    // width: 600px;
    // height: 600px;
    min-width: calc(193.385px);
    max-width: calc(48.3462vh);
    min-height: 300px;
    max-height: 75vh;
    margin: 20px;
  }
  section {
    border: 1px solid black;
    // padding: 100px;
  }

}

.order{
  display: flex; 
  background-color: $light-teal;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid black;
  button{
    margin: 10px;
    padding: 20px;
    background-color: $teal;
    border-radius: 5px;
    outline: none;
    &:hover {
      background-color: $light-teal;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 400px;
  section{
    flex: 1 ;
    margin: 10px;
  }

}
// .home{
//   min-height: 1000px;
// }

// .footer{
//   align-self: flex-end;
// }